

html {

    
}

.hero {
    background-color:#000000;
    background-image: url("../portfolio/flame_logo.gif");
    background-size: cover;
    background-position: center;
    height: 80vh;
   
    
color: black;

padding-top: 50px;
padding-bottom: 50px;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    background-color:#000000;
    height:100vh;
    height: -webkit-fill-available;
}
