



.hero {
    background-color:#000000;
    background-image: url("../portfolio/flame_logo.gif");
    background-size: cover;
    background-position: center;
    
color: black;

padding-top: 750px;
padding-bottom: 100px;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    background-color:#000000;
}
