

html {

    
}

.hero {
    background-color:#000000;
    background-image: url("../portfolio/flame_logo.gif");
    background-size: cover;
    background-position: center;
    height: 80vh;
   
    
color: black;

padding-top: 5%;
padding-bottom: 5%;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    background-color:#000000;
}
